// Bootstrap Variables
$icon-font-path: '../../node_modules/bootstrap-sass/assets/fonts/bootstrap/'; // Import Bootstrap
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';

*,
*::after,
*::before {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

body {
  background-color: #141F3D;
}

#like-button {
  width: 30%;
  height: 150px;
  background-color: white;
  text-align: center;
  border-radius: 10px;
  padding-top: 20px;
  margin: 250px auto 0;

  .like-num {
    display: inline-block;
    font-size: 50px;
    padding-right: 15px;
  }

  .like {
    display: inline-block;
    font-size: 50px;
  }

  .fa-thumbs-o-up {
    font-size: 50px;
  }
}
